@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700");
/* line 1, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 5, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

/* line 12, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

/* line 16, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
main, li {
  display: block;
}

/* line 19, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
h1, h2, h3, h4 {
  font-size: inherit;
}

/* line 22, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
strong {
  font-weight: bold;
}

/* line 25, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
a, button {
  color: inherit;
  transition: 0.3s;
}

/* line 29, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
a {
  color: inherit;
  text-decoration: none;
}
/* line 32, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
a:hover {
  text-decoration: underline;
}

/* line 35, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

/* line 44, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 48, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
:focus {
  outline: 0;
}

/* line 51, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* line 56, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/reset.sass */
* {
  box-sizing: border-box;
}

/* line 1, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/forms.sass */
input {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
}

/* line 7, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/forms.sass */
.field {
  margin-bottom: 16px;
  position: relative;
}

/* line 11, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/forms.sass */
input[type=submit] {
  background: grey;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 0px 1px rgba(0, 0, 0, 0.3);
}

/* line 1, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
header {
  background: #263238;
  color: white;
  padding: 20px 16px;
  text-align: right;
}

/* line 7, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
body {
  background-color: #ccc;
}

/* line 10, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper {
  padding: 16px;
  width: 600px;
  margin: 0 auto;
  background: white;
  min-height: 50vh;
}
/* line 16, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper a.action {
  padding: 16px;
  margin: 8px;
  float: right;
  background: pink;
  color: white;
}
/* line 23, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper table {
  margin-top: 30px;
}
/* line 25, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper table tr {
  padding: 32px;
  margin: 0;
}
/* line 28, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper table td {
  padding: 4px;
}
/* line 31, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper textarea {
  width: 100%;
  height: 200px;
}
/* line 35, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
.page_wrapper input {
  border: 1px solid black;
}

/* line 38, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/core.sass */
h1.title {
  margin: 16px 0;
}

/* line 1, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper {
  background: #263238;
  min-height: 100vh;
  text-align: center;
}
/* line 6, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .page_content {
  width: 400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 100px 30px 100px 30px;
  border-radius: 0 0 5px 5px;
}
/* line 15, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper #clearance {
  margin-top: 100px;
}
/* line 18, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 150px;
}
/* line 24, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper h2 {
  text-align: left;
  font-size: 1.4rem;
  color: white;
  margin: 8px 0;
  font-weight: 300;
}
/* line 31, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .other-links {
  color: rgba(255, 255, 255, 0.6);
  margin: 24px 0 8px;
  text-align: center;
}
/* line 35, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .other-links a {
  text-decoration: underline;
}
/* line 37, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .other-links a + a {
  margin-left: 12px;
}
/* line 40, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .error_container {
  position: absolute;
  top: 0;
  padding: 16px;
  text-align: center;
  color: white;
  background: #5d2b2f;
  width: 105%;
  left: -2.5%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  border-radius: 0 0 5px 5px;
  transition: 0.3s ease-in-out;
  top: -50px;
}
/* line 55, /home/henry/work/scrawl/scrawl_site/app/assets/stylesheets/clearance.sass */
.clearance_page_wrapper .error_container:hover {
  background: rgba(255, 51, 51, 0.47);
}
